@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@keyframes changeright {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html,
body {
  height: 100%;
  font-family: 'Microsoft Yahei';
}

::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.box {
  height: calc(100% - 60px);
  width: 1260px;
  margin: 0 auto;
}

.box .wrap {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  height: calc(100%);
  justify-content: space-between;
}

.box .wrap .left {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.box .wrap .left .tit {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  line-height: 60px;
}

.box .wrap .left .tit span {
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  font-size: 16px;
  color: maroon;
  height: 60px;
}

.box .wrap .left .tit .playlist {
  border-bottom: 4px solid maroon;
}

.box .wrap .left .tit i {
  font-style: normal;
  cursor: pointer;
  font-size: 16px;
  color: maroon;
  line-height: 60px;
}

.box .wrap .left .tit .search {
  position: relative;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .wrap .left .tit .search input {
  font-size: 14px;
  color: maroon;
  padding: 4px 30px 4px 10px;
  outline: none;
  border: none;
  width: 200px;
  height: 28px;
  border-bottom: 1px maroon solid;
}

.box .wrap .left .tit .search button {
  left: 170px;
  position: absolute;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  background: url("../image/搜索.png") no-repeat;
  background-size: contain;
}

.box .wrap .left table {
  width: 900px;
}

.box .wrap .left table thead tr th {
  background-color: #C62F2F;
  color: #fff;
}

.box .wrap .left table tr {
  cursor: pointer;
  color: #333;
}

.box .wrap .left table tr td {
  box-sizing: border-box;
}

.box .wrap .left table tr .songName p {
  width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box .wrap .left table .activeM {
  color: maroon;
}

.box .wrap .left nav {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.box .wrap .left nav a {
  border: 1px solid maroon;
  color: maroon;
}

.box .wrap .left nav .myActive a {
  background-color: maroon;
  color: #fff;
}

.box .wrap .left .comment {
  padding-bottom: 60px;
}

.box .wrap .left .comment li {
  padding: 10px 0px;
  display: flex;
}

.box .wrap .left .comment li img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.box .wrap .left .comment li p {
  width: 100%;
  font-size: 12px;
  color: #555;
}

.box .wrap .left .comment li p span {
  color: maroon;
}

.box .wrap .left .comment li p i {
  font-style: normal;
  color: maroon;
  float: right;
}

.box .wrap .right {
  margin-top: 40px;
  padding: 20px 0;
  width: 400px;
  margin-bottom: 60px;
  text-align: center;
}

.box .wrap .right img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 60px lightskyblue;
}

.box .wrap .right .songName {
  margin-top: 10px;
  font-size: 16px;
  color: maroon;
}

.box .wrap .right ul {
  margin-top: 10px;
  padding-bottom: 60px;
  margin-bottom: 40px;
}

.box .wrap .right ul li {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;
  color: #999;
}

.box .wrap .right ul .lyricActive {
  color: maroon;
}

.box .wrap .right .ani {
  animation: changeright 30s linear infinite;
}

.bottomWrap {
  width: 100%;
  margin: 0 auto;
  min-width: 1300px;
  position: fixed;
  height: 60px;
  bottom: 0px;
}

.bottomWrap p {
  width: 100%;
  top: 5px;
  color: maroon;
  font-size: 16px;
  text-align: center;
  position: absolute;
}

.bottomWrap .bottom {
  width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  height: 60px;
  background-color: #FFF;
  align-items: center;
}

.bottomWrap .bottom .order {
  margin-left: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.bottomWrap .bottom .cor {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.bottomWrap .bottom .cor .cor_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: maroon;
  border-radius: 50%;
}

.bottomWrap .bottom .cor img {
  width: 20px;
  height: 20px;
  display: block;
}

.bottomWrap .bottom .time_ {
  font-size: 14px;
  color: #333;
  margin: 0 10px;
}

.bottomWrap .bottom .time {
  margin-left: 10px;
}

.bottomWrap .bottom .bar {
  height: 4px;
  border-radius: 2px;
  width: 1000px;
  background-color: lightslategrey;
}

.bottomWrap .bottom .bar .play_time {
  width: 0px;
  background-color: maroon;
  height: 4px;
  border-radius: 2px;
}
