@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

@keyframes changeright {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes add {
  0% {
    transform: scale(1);
    color: #333;
  }
  50% {
    transform: scale(2);
    color: maroon;
  }
  100% {
    transform: scale(1);
    color: #333;
  }
}

@keyframes music {
  0% {
    border: 1px maroon solid;
    transform: scale(1);
    opacity: 1;
  }
  100% {
    border: 1px maroon solid;
    transform: scale(1.5);
    opacity: 0;
  }
}

html,
body {
  height: 100%;
  font-family: 'Microsoft Yahei';
  min-width: 1360px;
}

.bg {
  opacity: 0.3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.nextPlay {
  animation: add 0.5s;
}

.box {
  height: calc(100% - 60px);
  width: 1260px;
  margin: 0 auto;
}

.box .tit {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  line-height: 60px;
}

.box .tit span {
  text-align: center;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  width: 80px;
  font-size: 16px;
  color: maroon;
  height: 60px;
}

.box .tit span .list {
  width: 120px;
  padding: 5px 10px;
  position: absolute;
  width: 250px;
  background: #fff;
  display: none;
  z-index: 20;
  transition: 0.5s;
}

.box .tit span .list li {
  font-size: 12px;
  text-align: left;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 26px;
}

.box .tit span .list-hot {
  width: 120px;
  padding: 5px 10px;
  position: absolute;
  width: 250px;
  background: #fff;
  display: none;
  z-index: 20;
  transition: 0.5s;
}

.box .tit span .list-hot li {
  font-size: 12px;
  text-align: left;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 26px;
}

.box .tit .my {
  width: 80px;
}

.box .tit .my:hover .list {
  display: block;
}

.box .tit .update {
  width: 80px;
}

.box .tit .update:hover .list-hot {
  display: block;
}

.box .tit .set {
  width: 40px;
  position: relative;
  display: flex;
}

.box .tit .set img {
  margin: auto;
  width: 20px;
  height: 20px;
  display: block;
}

.box .tit .set:hover .setting {
  display: block;
}

.box .tit .setting {
  display: none;
  top: 60px;
  width: 120px;
  background-color: #fff;
  position: absolute;
  padding: 5px;
}

.box .tit .setting li {
  height: 18px;
  line-height: 18px;
  display: flex;
  text-align: left;
  font-size: 10px;
  align-items: center;
  justify-content: space-between;
}

.box .tit .setting li label {
  margin: 0;
}

.box .tit .setting li input {
  margin: 0;
  display: block;
  height: 18px;
}

.box .tit .setting li .op {
  width: 70px;
  height: 4px;
}

.box .tit .playlist {
  border-bottom: 4px solid maroon;
}

.box .tit i {
  font-style: normal;
  cursor: pointer;
  font-size: 16px;
  color: maroon;
  line-height: 60px;
}

.box .tit i img {
  width: 20px;
  height: 20px;
  display: block;
}

.box .tit .search {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .tit .search input {
  width: 299px;
  font-size: 14px;
  color: maroon;
  padding: 10px 30px 10px 10px;
  border-radius: 5px 5px 0 0;
  outline: none;
  border: none;
  border: 1px maroon solid;
  border-bottom: none;
  width: 250px;
  height: 28px;
  background-color: transparent;
}

.box .tit .search input::placeholder {
  color: #999;
}

.box .tit .search button {
  left: 220px;
  position: absolute;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  background: url("../image/搜索.png") no-repeat;
  background-size: contain;
}

.box .tit .search .hot {
  width: 250px;
  position: absolute;
  height: 0;
  box-sizing: border-box;
  overflow: hidden;
  border-bottom: 1px maroon solid;
  border-left: 1px maroon solid;
  border-right: 1px maroon solid;
  top: 28px;
  background-color: #fff;
  z-index: 20;
}

.box .tit .search .hot li {
  cursor: pointer;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: maroon;
}

.box .tit .search .hot li span {
  color: #999;
  width: 150px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box .wrap {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  height: calc(100%);
  justify-content: space-between;
}

.box .wrap .left {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.box .wrap .left table {
  width: 900px;
  text-align: center;
}

.box .wrap .left table td {
  border: none !important;
}

.box .wrap .left table td {
  text-align: center;
  height: 50px;
  padding: 0;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box .wrap .left table .table-1 {
  padding: 8px 0;
  width: 80px !important;
}

.box .wrap .left table .table-2 {
  width: 400px;
}

.box .wrap .left table .table-3 {
  width: 80px;
}

.box .wrap .left table .table-4 {
  width: 260px;
}

.box .wrap .left table .table-5 {
  width: 80px;
}

.box .wrap .left table thead img {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.box .wrap .left table thead tr th {
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  color: #fff;
  border: none;
}

.box .wrap .left table tbody tr {
  cursor: pointer;
  color: #333;
}

.box .wrap .left table tbody tr img {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.box .wrap .left table tbody tr .songName p {
  width: 400px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box .wrap .left table tbody .activeMusic {
  color: maroon;
}

.box .wrap .left nav {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.box .wrap .left nav a {
  border: 1px solid maroon;
  background-color: transparent;
  color: maroon;
}

.box .wrap .left nav .myActive a {
  background-color: maroon;
  color: #fff;
}

.box .wrap .left .comment {
  padding-bottom: 60px;
}

.box .wrap .left .comment li {
  padding: 10px 0px;
  display: flex;
}

.box .wrap .left .comment li .avatar {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.box .wrap .left .comment li p {
  width: 100%;
  font-size: 12px;
  color: #555;
}

.box .wrap .left .comment li p .point {
  width: 10px;
  height: 10px;
}

.box .wrap .left .comment li p span {
  color: maroon;
}

.box .wrap .left .comment li p i {
  font-style: normal;
  color: maroon;
  float: right;
}

.box .wrap .right {
  margin-top: 40px;
  padding: 20px 0;
  width: 400px;
  margin-bottom: 60px;
  text-align: center;
}

.box .wrap .right .musicImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
}

.box .wrap .right .musicImg img {
  top: 0;
  left: 0;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 10px  maroon;
}

.box .wrap .right .musicImg span {
  top: 0;
  left: 0;
  position: absolute;
  width: 198px;
  height: 198px;
  border-radius: 50%;
}

.box .wrap .right .ani span:nth-child(2) {
  animation: music 3s linear infinite 0s;
}

.box .wrap .right .ani span:nth-child(3) {
  animation: music 3s   linear infinite 1s;
}

.box .wrap .right .ani span:nth-child(4) {
  animation: music 3s  linear infinite 2s;
}

.box .wrap .right .ani img {
  animation: changeright 30s linear infinite;
}

.box .wrap .right .songName {
  margin-top: 10px;
  font-size: 16px;
  color: maroon;
}

.box .wrap .right ul {
  margin-top: 10px;
  padding-bottom: 60px;
  margin-bottom: 40px;
}

.box .wrap .right ul li {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;
  color: #999;
}

.box .wrap .right ul .lyricActive {
  color: maroon;
}

.bottomWrap {
  width: 100%;
  margin: 0 auto;
  min-width: 1360px;
  position: absolute;
  height: 60px;
  bottom: 0px;
}

.bottomWrap p {
  width: 900px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  top: 5px;
  color: maroon;
  font-size: 16px;
  text-align: center;
  position: absolute;
}

.bottomWrap .bottom {
  position: relative;
  width: 1360px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  height: 60px;
  align-items: center;
}

.bottomWrap .bottom .volumeImg {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  display: block;
}

.bottomWrap .bottom .volume {
  margin-left: 5px;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  background-color: #ccc;
}

.bottomWrap .bottom .volume .ball {
  transition: all 0.5s ease-in-out;
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: maroon;
}

.bottomWrap .bottom .order {
  margin-left: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.bottomWrap .bottom ._next {
  margin-left: 8px;
  width: 25px;
  height: 25px;
  display: block;
}

.bottomWrap .bottom ._next:hover + .nextPlayUl {
  display: block;
}

.bottomWrap .bottom .nextPlayUl {
  display: none;
  position: absolute;
  right: -40px;
  bottom: 35px;
}

.bottomWrap .bottom .nextPlayUl li {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 0;
  font-size: 12px;
  color: #999;
}

.bottomWrap .bottom .cor {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.bottomWrap .bottom .cor .cor_img {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: maroon;
  border-radius: 50%;
}

.bottomWrap .bottom .cor img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: block;
}

.bottomWrap .bottom .time_ {
  font-size: 14px;
  color: #333;
  margin: 0 10px;
}

.bottomWrap .bottom .time {
  margin-left: 10px;
}

.bottomWrap .bottom .bar {
  height: 4px;
  border-radius: 2px;
  width: 900px;
  background-color: lightslategrey;
}

.bottomWrap .bottom .bar .play_time {
  width: 0px;
  background-color: maroon;
  height: 4px;
  border-radius: 2px;
}
